@import "./_util/breakpoints";
@import "./_util/color";
@import "./_util/typography";

.Footer {
	text-align: center;
	background-color: $color-shade-dark;
	color: $color-shade-light;
	filter: brightness(0.6);

	a {
		color: $color-shade-light;
		font-weight: bold;
		transition: color 200ms ease;

		&:hover {
			color: $color-main;
		}
	}

	.Container {
		@include breakpoint("sm") {
			padding: 30px 120px 40px;
		}
	}

	.Footer-title {
		@include text_utility();
	}

	.Footer-subtitle {
		margin-bottom: 20px;
		color: $color-main;
	}

	.Footer-suggestions {
		margin-bottom: 20px;
	}

	small {
		@include text_mono();
		display: block;
		font-size: 50%;
		margin-top: 5px;
	}
}
