@import './_util/breakpoints';
@import './_util/button';
@import './_util/color';
@import './_util/typography';

.Login {
    .Login-step {
        opacity: 0.3;
        transition: all 200ms ease;

        &--active {
            opacity: 1;
        }
    }
}